.SiteNavigation {
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
  
    &-column {
      display: flex;
      justify-content: center;
    }
  
    &-item {
      display: flex;
      align-items: center;
    }

    &-uperItem {
        text-transform: uppercase;
    }
  
    &-link {
      background-color: #F4E041;
      border-radius: 80px;
      padding: 4px 29px;
      text-decoration: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.87);
      font-family: 'Nunito';
      height: 34px;

      &--second {
        padding: 4px 22px 4px 23px;  
      }
    }
  
    &-link:hover {
        background-color:#FFE302;
    }
}